# ***************************************************
# This Config file is for SpectaProbe Ver2.0
#
# DON'T MAKE ANY CHANGES WITHOUT CONSULTING PINNACLE SUPPORT TEAM
# ANY CHANGE MAY LEAD TO INCORRECT FUNCTIONING OF SPECTAPROBE
#
#
# Copyright (c) 2016, Pinnacle Digital (P) Ltd. New-Delhi
# ***************************************************

# ***************************************************
#  DO NOT MOVE THIS SECTION
#  IT HAS TO BE THE FIRST SECTION OF THE CONFIG FILE
# ***************************************************

S1U_PROBE               false
S1MME_PROBE             true
S11_PROBE		false
S5S8_PROBE		false

PROBE_ID                110


# ***************************************************
# Log levels:
#    None         = 0,
#    Debug        = 1,
#    Trace        = 2,
#    Info         = 4,
#    Warn         = 8,
#    Minor        = 16,
#    Major        = 32,
#    Error        = 64,
#    SeriousError = 128
# ***************************************************
LOG_LEVEL                               2
PRINT_STATS                             false
PRINT_STATS_FREQ_SEC                    2
LOG_STATS_FREQ_SEC                      60

XDR_DIR                                 /data/xdr/SpectaProbe/
LOG_DIR                                 /var/log/pinnacle/SpectaProbe/
DATA_DIR                                /data/SpectaProbe/

ADMIN_FLAG                              true
ADMIN_PORT                              tcp://*:4500

ETHERNET_INTERFACE                      em3

#SOLAR_INTERFACE                        p4p1
#SOLARFLARE_HW_TIMESTAMP                true

MAX_PKT_LEN_PER_INTERFACE               500,256

PPS_PER_INTERFACE                       1000000
PPS_CAP_PERCENTAGE                      90

ROUTER_PER_INTERFACE                    10
PKT_LISTENER_CPU_CORE                   1
PKT_ROUTER_CPU_CORE                     2,3,4,5,6,7,8,9,10,11

IPV4_RANGE                              10.0.0.1-10.255.255.255
S1U_PROCESS_OUT_OF_RANGE_IP				true
S1U_PROCESS_USER_AGENT					true
S1U_CHECK_DUPLICATE						true
S1U_PROCESS_ACK							true
S1U_ACK_CREATE_SESSION					true

S1U_SESSION_TIME_INDEX_PKT_LIMIT        700000
S1U_SESSION_PKT_LIMIT                   5000
S1U_SESSION_TIME_LIMIT                  300
S1U_SESSION_CLEAN_UP_SCAN_FREQ_SEC      15
S1U_SESSION_CLEAN_UP_BATCH_LIMIT        100000
S1U_SESSION_CLEAN_UP_TIMEOUT_SEC        60

S1U_DNS_ANSWER							5
S1U_VPS_PACKET_PER_SEC					1500
S1U_UDP_XDR_FOR_DNS						true

S1U_SESSION_MANAGER_INSTANCES           4
S1U_SESSION_MANAGER_CPU_CORE            11,12,13,14,15,16
S1U_FLUSHER_NO                        	2
S1U_FLUSHER_CPU_CORE                    36,37
S1U_WRITE_XDR							false
S1U_XDR_WRITE_CPU_CORE					36
S1U_FILE_PREFIX							s1u

DNS_FLUSHER_NO							1
DNS_FLUSHER_CPU_CORE					13
DNS_WRITE_XDR							true
DNS_XDR_WRITE_CPU_CORE					14
DNS_FILE_PREFIX							dns

#S1MME_RANGE
S1MME_SESSION_MANAGER_INSTANCES         4
S1MME_SESSION_MANAGER_CPU_CORE          15,16,17,18
S1MME_FLUSHER_NO						1
S1MME_FLUSHER_CPU_CORE					12
S1MME_WRITE_XDR							true
S1MME_XDR_WRITE_CPU_CORE				13
S1MME_FILE_PREFIX						s1mme

S11_SESSION_MANAGER_INSTANCES           4
S11_SESSION_MANAGER_CPU_CORE            13,14,13,14
S11_FLUSHER_NO							2
S11_FLUSHER_CPU_CORE					23,33
S11_WRITE_XDR							true
S11_XDR_WRITE_CPU_CORE					34
S11_FILE_PREFIX							s11

#PGW_RANGE
S5S8_SESSION_MANAGER_INSTANCES          4
S5S8_SESSION_MANAGER_CPU_CORE           15,16,15,16
S5S8_FLUSHER_NO                      	2
S5S8_FLUSHER_CPU_CORE                   36,37
S5S8_WRITE_XDR							true
S5S8_XDR_FLUSHER_CPU_CORE				36
S5S8_FILE_PREFIX						s5s8
